## filename

In [266]:
import os
import pandas as pd
from functools import reduce
import re
import nltk
from nltk.corpus import stopwords
import numpy as np
mystopwords = set(stopwords.words('english'))

In [19]:
# DataFrame filename
filename = pd.DataFrame([os.listdir('workshop_data/{0}'.format(i)) for i in os.listdir('workshop_data')]).T
filename.columns = os.listdir('workshop_data')
filename.head()

,fishing,hiking,machinelearning,mathematics
0,"0,4570,7-153-10364-34956--,00.html_12180052900...",351.html_122506814000.txt,10-algorithms-machine-learning-engineers.html_...,3_123525687000.txt
1,2347.htm_121805687000.txt,7bc1a822-6595-11e7-8eb5-cbccc2e7bfbf_story.htm...,10215-get-a-job-in-artificial-intelligence.htm...,8949890_123342435000.txt
2,3ways.html_121816046000.txt,alander_mountain_122422037000.txt,10994_122716488000.txt,annals.math.princeton.edu_123544995000.txt
3,46-bait-and-tackle-palisades-park_121721321000...,americanhiking.org_122445384000.txt,1838_122730095000.txt,article_439742b4-9b2c-11e7-9aef-179971133ef1.h...
4,5-rescued-from-capsized-sport-fishing-boat-at-...,best-hikes-san-juan-islands_122601624000.txt,2017-09-quantum-machines.html_122800945000.txt,imapp_123402680000.txt

In [52]:
# Another data type
new_filename = []
filename = [os.listdir('workshop_data/{0}'.format(i)) for i in os.listdir('workshop_data')]
for i in filename:
    new_filename.extend(i)
label = []
for i, j in zip(filename, os.listdir('workshop_data')):
    label.extend([j]*len(i))
df_filename = pd.DataFrame({'filename': new_filename, 'label': label})
df_filename.head()

                                            filename    label
0  0,4570,7-153-10364-34956--,00.html_12180052900...  fishing
1                          2347.htm_121805687000.txt  fishing
2                        3ways.html_121816046000.txt  fishing
3  46-bait-and-tackle-palisades-park_121721321000...  fishing
4  5-rescued-from-capsized-sport-fishing-boat-at-...  fishing

### Class style

### My version

In [192]:
test = Text('workshop_data')
df = test.fileLaber()
df.head()

ValueError: arrays must all be same length

In [203]:
new_filename = []
for i in os.listdir('workshop_data'):
    new_filename.extend(os.listdir('{0}/{1}'.format('workshop_data', i)))
len(new_filename)

259

In [204]:
filename = os.listdir('workshop_data')
for i, j in zip(filename, os.listdir('workshop_data')):
    label.extend([j]*len(i))
len(label)

496

In [189]:
class Text():
    def __init__(self, root):
        self.root = root
    def fileLaber(self):
        new_filename = []
        label = []
        filename = []
        for i in os.listdir(self.root):
            new_filename.append(os.listdir('{0}/{1}'.format(self.root, i)))
            filename.append(os.listdir('{0}/{1}'.format(self.root, i)))
        for i, j in zip(filename, os.listdir(self.root)):
            label.extend([j]*len(i))
        df_filename = pd.DataFrame({'filename': new_filename, 'label': label})
        return df_filename
    def cleanContent(self, filePath):
        with open(filePath, "r", encoding='utf-8') as f:
            txt = f.readlines()
            try:
                alltxt = reduce(lambda x, y: x+' '+y, txt).lower()
            except:
                pass
            alltxt = re.sub("[^0-9a-zA-Z]", ' ', alltxt)
            alltxt = alltxt.split()
            alltxt = ' '.join(list(filter(lambda x: x not in mystopwords, alltxt)))
        return alltxt
    # add column to dataframe
    def txtDf(self):
        filePathDf = self.fileLaber()
        filepath = filePathDf['label'].map(lambda x: self.root + '\\' + x + '\\') + filePathDf['filename']
        filePathDf['content'] = filepath.map(lambda x: self.cleanContent(x))
        return filePathDf

In [190]:
test = Text('workshop_data')
filename_df = test.txtDf()
filename_df

ValueError: arrays must all be same length

In [ ]:
'workshop_data\\fishing\\3ways.html_121816046000.txt'

In [78]:
test = Text('workshop_data')
filename_df = test.fileLaber()
filename_df.head()

                                            filename    label
0  0,4570,7-153-10364-34956--,00.html_12180052900...  fishing
1                          2347.htm_121805687000.txt  fishing
2                        3ways.html_121816046000.txt  fishing
3  46-bait-and-tackle-palisades-park_121721321000...  fishing
4  5-rescued-from-capsized-sport-fishing-boat-at-...  fishing

### Teacher version

In [73]:
import fnmatch

In [74]:
class classifier_workshop():
    def get_files(self,tmp_path):
        the_files = pd.DataFrame()
        for root,dir,files in os.walk(tmp_path):
        #    print root
         #   print fdfdf
            for items in fnmatch.filter(files,"*"):
                tmp = root.split("/")
                tmp = tmp[len(tmp)-1]
                if'.git' not in tmp:
                    the_files = the_files.append({"path":root+"/"+items,"label":tmp},ignore_index = True)
        return the_files

In [76]:
Test = classifier_workshop()
Test.get_files('workshop_data').head()

                   label                                               path
0  workshop_data\fishing  workshop_data\fishing/0,4570,7-153-10364-34956...
1  workshop_data\fishing    workshop_data\fishing/2347.htm_121805687000.txt
2  workshop_data\fishing  workshop_data\fishing/3ways.html_121816046000.txt
3  workshop_data\fishing  workshop_data\fishing/46-bait-and-tackle-palis...
4  workshop_data\fishing  workshop_data\fishing/5-rescued-from-capsized-...

### Read file content

In [129]:
filename_df.head()

                                            filename    label
0  0,4570,7-153-10364-34956--,00.html_12180052900...  fishing
1                          2347.htm_121805687000.txt  fishing
2                        3ways.html_121816046000.txt  fishing
3  46-bait-and-tackle-palisades-park_121721321000...  fishing
4  5-rescued-from-capsized-sport-fishing-boat-at-...  fishing

In [163]:
import nltk
from nltk.corpus import stopwords
mystopwords = set(stopwords.words('english'))

with open('workshop_data\\fishing\\3ways.html_121816046000.txt',"r", encoding='utf-8') as f:
    txt = f.readlines()
    alltxt = reduce(lambda x, y: x+' '+y, txt).lower()
    alltxt = re.sub("[^0-9a-zA-Z]", ' ', alltxt)
    alltxt = alltxt.split()
    alltxt = ' '.join(list(filter(lambda x: x not in mystopwords, alltxt)))
alltxt

'nh hunting fishing licenses new hampshire fish game department javascript must enabled features display properly enable javascript changing browser options try new hampshire fish game department home hunting trapping nh buy renew hunting license apprentices baiting wildlife check stations dates seasons faqs guides black bear deer furbearers moose pheasant small game turkey waterfowl hunter education leashed dog trackers publications report poacher reports resources small game trapping hunt shoot fishing nh buy renew fishing license baitfish bathymetry maps boating nh dates seasons faqs fish fact sheets fisheries management guides hatcheries ice fishing let go fishing publications reports resources stocking tournaments trophy record fish programs fish marine resources buy renew saltwater fishing license recreational saltwater fishing commercial saltwater fishing faqs fish fact sheets great bay national estuarine research reserve laws rules licenses permits projects publications research surveys reports shellfishing wildlife nh nongame endangered wildlife program faqs habitats publications species occurring nh wildlife management areas wildlife fact sheets ohrv nh faqs registering ohrv renting ohrv safe riding tips safety education ride education training aquatic resources education becoming outdoors woman connect kids wildlife education centers hunter trapper courses let go fishing program watchable wildlife wildlife education school community programs fish game news sign e news multimedia events notices fish game contact nh fish game contact conservation officer directions faqs fish game commission funding hatcheries education centers history fish game jobs law enforcement sign e news staff directory support fish game volunteers section licensing current license prices faqs forms license agent listing license requirements migratory bird harvest information program registration point service license sales wildlife habitat fee three ways purchase nh fishing hunting license view application forms visit local license agent report poacher buy license events notices get outside jobs landowner relations law enforcement laws rules maps multimedia nongame endangered wildlife newsroom publications shop support volunteer wildlife heritage foundation nh sitemap contact us 603 271 3421 11 hazen drive concord nh 03301'

## Another Version

In [297]:
import os
import fnmatch
import re
import pandas as pd
from nltk.corpus import stopwords

class file_classifier:

    def __init__(self, path):

        self.path = path


    def get_files(self):

        the_files = pd.DataFrame()

        for root, dir, files in os.walk(self.path):
            for items in fnmatch.filter(files, "*"):
                path = root
                label = root.split('\\')[-1]
                if 'Workshop' not in label:
                    the_files = the_files.append({"Label": label, "File Name": items, "File Path": path+"\\"+items}, ignore_index=True)

        return the_files


    def clean_text(self, df, stopwords):

        result = pd.DataFrame()

        for label, file_name, path in zip(df['Label'], df['File Name'], df['File Path']):
            f = open(path, "r", encoding='utf-8')

            text_raw = f.readlines()
            text_split = " ".join(text_raw).split()
            text_low = [word.lower() for word in text_split]
            text_re = [re.sub(r"[^a-zA-Z]+", ' ', token) for token in text_low]
            while ' ' in text_re:
                text_re.remove(' ')
            text = " ".join([word for word in text_re if word not in stopwords])

            result = result.append({'Body': text, 'Lable': label}, ignore_index=True)
            f.close()
        return result
    
    def train_model(self, model, df):

        tfidf = TfidfVectorizer(max_features=1000, ngram_range=(1, 3))
        data = pd.DataFrame(tfidf.fit_transform(df.Body).toarray())

        label_enc = LabelEncoder()
        label_enc.fit(df.Label)
        data["Label"] = label_enc.transform(df.Label)

        model_trained = model.fit(data.iloc[:, :-1], data.iloc[:, -1])

        return model_trained
    
if __name__ == "__main__":

    the_path = "F:\\MyUdemy\\adv_nlp\workshop_data"
    stopwords = set(stopwords.words('english'))

    fc = file_classifier(the_path)
    file_names = fc.get_files()

    text_label_df = fc.clean_text(file_names, stopwords)
    print(text_label_df)

                                                  Body        Lable
0    dnr weekly fishing report dnr home contact dnr...      fishing
1    dnr  fishing guide regulations header in gov m...      fishing
2    nh hunting fishing licenses new hampshire fish...      fishing
3    bait tackle closed outdoor gear e columbia ave...      fishing
4    rescued capsized sport fishing boat nc outer b...      fishing
5    reel fish story  westfield boy receives awards...      fishing
6    bass fishing bassmaster com home tips gear ang...      fishing
7    commentary  increasing access hunting  fishing...      fishing
8    get deep sea fishing trip tickets daveys locke...      fishing
9    pennsylvania fish boat commission homepage pfb...      fishing
10   fishing alabama state parks alapark contact vo...      fishing
11   fishing alabama outdoor alabama us contact us ...      fishing
12   fishing gear tackle dick s sporting goods mess...      fishing
13   fishing city home fishing hunting licenses per...      fishing
14   fishing reports home signup signup signup hunt...      fishing
15   fishing nys dept  environmental conservation s...      fishing
16   fishing palisades interstate park new jersey h...      fishing
17   scdnr fishing information buy boating educatio...      fishing
18   fishing permits license endorsements washingto...      fishing
19   fishing tackle shimano fishing tackle fishing ...      fishing
20   njdep division fish wildlife fishing new jerse...      fishing
21   fishing yellowstone national park  u s  nation...      fishing
22   fishing nyc resources office mayor select lang...      fishing
23   colorado parks wildlife fishing report colorad...      fishing
24   fishing wikipedia fishing contents history tra...      fishing
25   fishing pictures  images stock photos istock p...      fishing
26   fishing subreddits popular askreddit fishing h...      fishing
27   fishing kdwpt kdwpt main menu search hunting f...      fishing
28   fishing fishing tackle  supplies  equipment ac...      fishing
29   fishing grindtv com property grindtv com navig...      fishing
..                                                 ...          ...
229  mathematics springer total mathematics algebra...  mathematics
230  mathematics quora submit pending changes refre...  mathematics
231  mathematics wiktionary mathematics contents en...  mathematics
232  mathematics undergraduate study study cambridg...  mathematics
233  wmi warwick mathematics institute study resear...  mathematics
234  mathematics ucl home prospective students curr...  mathematics
235  wolfram mathworld  web s extensive mathematics...  mathematics
236  mathematics standards common core state standa...  mathematics
237  mathematics department mathematics faculty sta...  mathematics
238  mathematics www pma caltech edu visit director...  mathematics
239  mathematics college science engineering seattl...  mathematics
240  national museum mathematics home visit exhibit...  mathematics
241  quantity wikipedia quantity along analyzing na...  mathematics
242  math best way make sense world wired math best...  mathematics
243  study mathematics important waec registrar new...  mathematics
244  department mathematics home home us back conta...  mathematics
245  american mathematical society homepage america...  mathematics
246  ut mathematics university texas austin giving ...  mathematics
247  homepage mathematical association america home...  mathematics
248  www math cornell edu department mathematics co...  mathematics
249  harvard mathematics department home page home ...  mathematics
250  department mathematics department mathematics ...  mathematics
251  welcome rutgers home sas home search rutgers h...  mathematics
252  stony brook mathematics department institute m...  mathematics
253  ucla department mathematics search form search...  mathematics
254  uc santa cruz mathematics department skip main...  mathematics
255  department mathematics van vleck hall  lincoln...  mathematics
256  department mathematics university pittsburgh p...  mathematics
257  siam  society industrial applied mathematics s...  mathematics
258  yasiin bey mathematics lyrics genius lyrics fa...  mathematics

[259 rows x 2 columns]

In [298]:
text_label_df.head()

                                                Body    Lable
0  dnr weekly fishing report dnr home contact dnr...  fishing
1  dnr  fishing guide regulations header in gov m...  fishing
2  nh hunting fishing licenses new hampshire fish...  fishing
3  bait tackle closed outdoor gear e columbia ave...  fishing
4  rescued capsized sport fishing boat nc outer b...  fishing

### Tf-idf

In [229]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import preprocessing

In [235]:
vec = TfidfVectorizer(min_df = 0.05, max_df = 0.95, stop_words = 'english', analyzer = 'word')
tfidf = pd.DataFrame(vec.fit_transform(text_label_df.Body).toarray())
tfidf.columns = vec.get_feature_names()

label_enc = preprocessing.LabelEncoder()
label_enc.fit(text_label_df['Lable'])
tfidf['label'] = label_enc.transform(text_label_df['Lable'])

tfidf.head()

,ability,able,academic,access,accessibility,accessible,account,act,action,active,...,world,worth,writing,year,years,york,young,youth,youtube,label
0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.048618,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0
1,0.0,0.000000,0.0,0.0,0.036489,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.029385,0.000000,0.000000,0.0,0.0,0.136072,0
2,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0
3,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.029716,...,0.0,0.0,0.0,0.000000,0.045546,0.026063,0.0,0.0,0.000000,0
4,0.0,0.033344,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.030058,0

In [250]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(tfidf.iloc[:,:-1], tfidf.iloc[:,-1])
print(clf.feature_importances_)
scores = cross_val_score(clf, tfidf.iloc[:,:-1], tfidf.iloc[:,-1], cv = 10)
print(scores)

[0. 0. 0. ... 0. 0. 0.]
[1.         0.96153846 1.         1.         0.92307692 1.
 0.92307692 1.         1.         1.        ]

In [263]:
feature_important = pd.DataFrame({'features': tfidf.columns[:-1], 'importance': clf.feature_importances_})
feature_important.sort_values(by = 'importance', ascending = False).head()

        features  importance
524      machine    0.078884
478     learning    0.053591
322      fishing    0.049409
390       hiking    0.042050
546  mathematics    0.033885

In [270]:
from sklearn.model_selection import GridSearchCV
parameters = {'max_features': np.arange(50, 500, 50)}
bestclf = GridSearchCV(clf, parameters, cv=5)
bestclf.fit(tfidf.iloc[:,:-1], tfidf.iloc[:,-1])

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_features': array([ 50, 100, 150, 200, 250, 300, 350, 400, 450])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [293]:
text_score = {}
train_score = {}
for each in list(bestclf.cv_results_.keys())[6:11]:
    text_score[each] = np.mean(bestclf.cv_results_[each])
for each in list(bestclf.cv_results_.keys())[14:-2]:
    train_score[each] = np.mean(bestclf.cv_results_[each])

G:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
G:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
G:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
G:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
G:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

In [296]:
print(text_score)
print(train_score)

{'split0_test_score': 0.9790356394129979, 'split1_test_score': 0.9722222222222222, 'split2_test_score': 0.9594017094017094, 'split3_test_score': 0.9743589743589742, 'split4_test_score': 0.9866666666666668}
{'split0_train_score': 0.9886731391585761, 'split1_train_score': 0.9887278582930757, 'split2_train_score': 0.9908749329039185, 'split3_train_score': 0.9844337090713903, 'split4_train_score': 0.9861775651249336}